<style>
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

#about_page{
  color:#444;
  font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman',
              "Hiragino Sans GB", "STXihei", "微软雅黑", serif;
  font-size:1em;
  line-height:1.5em;
  background:#fefefe;
  margin: 10px auto;
  padding: 1em;
  /*outline: 1300px solid #FAFAFA;*/
  opacity: 0.8;
  box-shadow: 0px 0px 15px #888;
}

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

span.backtick {
  border:1px solid #EAEAEA;
  border-radius:3px;
  background:#F8F8F8;
  padding:0 3px 0 3px;
}

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

p{
margin:1em 0;
}

img{
max-width:100%;
}

h1,h2,h3,h4,h5,h6{
font-weight:normal;
color:#111;
line-height:1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.5em; }
h2{ font-size:2em; border-bottom:1px solid silver; padding-bottom: 5px; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }

blockquote{
color:#666666;
margin:0;
padding-left: 3em;
border-left: 0.5em #EEE solid;
}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }


pre , code, kbd, samp { 
  color: #000; 
  font-family: monospace; 
  font-size: 0.88em; 
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC; 
}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px 12px;}
pre code { border: 0px !important; padding: 0;}
code { padding: 0 3px 0 3px; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

@media only screen and (min-width: 480px) {
#about_page{font-size:14px;width: auto;}
}

@media only screen and (min-width: 768px) {
#about_page{font-size:16px; width: 45em;}
}

@media print {
  * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
  #about_page{font-size:12pt; max-width:100%; outline:none;}
  a, a:visited { text-decoration: underline; }
  hr { height: 1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
</style>

<div id="about_page">
<h2 id="关于该小站">关于该小站</h2>
<h4 id="搞这个网站干嘛？">搞这个网站干嘛？</h4>
<p>答案很简单，</p>
<ol>
<li>学习新技术</li>
<li>为了更好地完成交接，把自己涉及的项目知识和信息存放在这里，便于查看和编辑</li>
</ol>
<h4 id="都用了什么技术？">都用了什么技术？</h4>
<p>过程中学到了：</p>
<ol>
<li><a href="http://rubyonrails.org/">Rails</a> 是怎么工作的</li>
<li>CSS 和 CSS3</li>
<li><a href="http://getbootstrap.com/">Bootsrtrap</a> / <a href="http://www.sass-lang.com/">SASS</a> / <a href="http://compass-style.org/">Compass</a> 进行样式快速开发</li>
<li>一些小的JS插件</li>
</ol>
<p>很明显还没什么技术内涵。。</p>
<h4 id="这网站有什么缺陷？">这网站有什么缺陷？</h4>
<p>这么小的网站还有缺陷？！</p>
<p>遗憾的是，有。</p>
<p>在学习的过程中，过分依赖Rails的<a href="http://thekaiway.com/2013/08/16/rails-ujs/">UJS</a>，但随后发现这并不适合做WebApp，绑定事件有点麻烦。</p>
<h4 id="那怎么办？">那怎么办？</h4>
<p>建议想改造网站的同学改用：</p>
<ol>
<li>Backbone.js 等前台MVC框架，事半功倍</li>
<li>使用<a href="https://github.com/welefen/pjax">PJAX</a> 的方式，应该可以和Rails的模板完美结合</li>
</ol>
<p>改造过后，可以弄个全文检索，日志分类，列表分页等实用的功能。</p>
<h4 id="源码在哪？">源码在哪？</h4>
<pre><code>cmo@10.132.10.66 /work/cruisecontrol/tmp/TeamNotes
</code></pre>
<p>密码请咨询<code>caixiaojian</code>大神</p>
<h4 id="感谢">感谢</h4>
<p>在此感谢<code>caixiaojian</code>大神，给了我很多帮助。也感谢<code>lihaiping</code>大神的指导~</p>
<p>最后感谢<code>chengaojie</code>，帮我接了很多刀。</p>
<p>再最后感谢国家感谢党。</p>

</div>
